.header-container {
	width: 100%;
	height: 166px;
	margin-top: 64px;
	background-color: $light-blue;
	border-radius: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.header-title {
	padding-left: 193px;
	width: fit-content;
	color: white;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	img {
		margin-right: 20px;
		width: 100px;
		height: 100px;
	}
}
.subtitle {
	color: white;
	width: 440px;
}
.header-separator {
	width: 4px;
	height: 80%;
	border-radius: 160px;
	background-color: #ffffff4d;
	margin: 0 48px;
}

.show-done-btn {
	position: absolute;
	padding: 8px 16px;
	right: 32px;
	bottom: -20px;
	display: flex;
	gap: 8px;
	align-items: center;
}

.confetti {
	position: absolute;
	z-index: 50;
	bottom: -35px;
	font-size: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(24deg);
}

.confetti-generator {
	bottom: 40px;
}

.eye-icon,
.eye-icon.hover.fill {
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 8.00001C0 7.68716 0.104184 7.38322 0.296107 7.13616C1.53861 5.51416 4.51963 2.17446 7.99997 2.17446C11.4803 2.17446 14.4613 5.51416 15.7038 7.13616C16.0983 7.65214 16.0983 8.34871 15.7038 8.86385C14.4613 10.4858 11.4803 13.8256 7.99997 13.8256C4.51963 13.8256 1.53861 10.4858 0.296107 8.86385C0.104184 8.61679 0 8.31285 0 8.00001ZM12.0776 4.83674C13.3191 5.8013 14.3154 6.96811 14.9096 7.74377C15.03 7.90143 15.0293 8.09975 14.91 8.25574C14.3158 9.0314 13.3194 10.1985 12.0776 11.1633C10.8245 12.1368 9.4236 12.8256 7.99997 12.8256C6.57635 12.8256 5.17542 12.1368 3.92237 11.1633C2.6806 10.1985 1.68414 9.0314 1.08996 8.25574L1.08997 8.25572L1.08582 8.25038C1.0302 8.17877 1 8.09068 1 8.00001C1 7.90933 1.0302 7.82124 1.08582 7.74964L1.08584 7.74965L1.08996 7.74428C1.68414 6.96861 2.6806 5.80151 3.92237 4.83674C5.17542 3.86321 6.57635 3.17446 7.99997 3.17446C9.4236 3.17446 10.8245 3.86321 12.0776 4.83674ZM9.49723 8C9.49723 8.82659 8.82715 9.49667 8.00057 9.49667C7.17398 9.49667 6.50391 8.82659 6.50391 8C6.50391 7.17342 7.17398 6.50334 8.00057 6.50334C8.82715 6.50334 9.49723 7.17342 9.49723 8ZM8.00057 10.4967C9.37944 10.4967 10.4972 9.37887 10.4972 8C10.4972 6.62114 9.37944 5.50334 8.00057 5.50334C6.6217 5.50334 5.50391 6.62114 5.50391 8C5.50391 9.37887 6.6217 10.4967 8.00057 10.4967Z' fill='white'/%3e%3c/svg%3e ");
}

.eye-icon.fill,
.eye-icon.hover {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.5 8C10.5 8.66304 10.2366 9.29893 9.76777 9.76777C9.29893 10.2366 8.66304 10.5 8 10.5C7.33696 10.5 6.70107 10.2366 6.23223 9.76777C5.76339 9.29893 5.5 8.66304 5.5 8C5.5 7.33696 5.76339 6.70107 6.23223 6.23223C6.70107 5.76339 7.33696 5.5 8 5.5C8.66304 5.5 9.29893 5.76339 9.76777 6.23223C10.2366 6.70107 10.5 7.33696 10.5 8V8Z' fill='white'/%3e%3cpath d='M0 8C0 8 3 2.5 8 2.5C13 2.5 16 8 16 8C16 8 13 13.5 8 13.5C3 13.5 0 8 0 8ZM8 11.5C8.92826 11.5 9.8185 11.1313 10.4749 10.4749C11.1313 9.8185 11.5 8.92826 11.5 8C11.5 7.07174 11.1313 6.1815 10.4749 5.52513C9.8185 4.86875 8.92826 4.5 8 4.5C7.07174 4.5 6.1815 4.86875 5.52513 5.52513C4.86875 6.1815 4.5 7.07174 4.5 8C4.5 8.92826 4.86875 9.8185 5.52513 10.4749C6.1815 11.1313 7.07174 11.5 8 11.5V11.5Z' fill='white'/%3e%3c/svg%3e ");
}
