.header-container {
	width: 100%;
	height: 166px;
	margin-top: 64px;
	background-color: $light-blue;
	border-radius: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.header-title {
	padding-left: 193px;
	width: fit-content;
	color: white;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	img {
		margin-right: 20px;
		width: 100px;
		height: 100px;
	}
}
.subtitle {
	color: white;
	width: 440px;
}
.header-separator {
	width: 4px;
	height: 80%;
	border-radius: 160px;
	background-color: #ffffff4d;
	margin: 0 48px;
}

.show-done-btn {
	position: absolute;
	padding: 8px 16px;
	right: 32px;
	bottom: -20px;
	display: flex;
	gap: 8px;
	align-items: center;
}

.eye-icon,
.eye-icon.hover.fill {
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.693041 8.55979L0.693032 8.55979C1.30075 9.35312 2.32692 10.5569 3.61561 11.5581C4.90994 12.5637 6.41808 13.3256 7.99997 13.3256C9.58187 13.3256 11.09 12.5637 12.3843 11.5581C13.673 10.5569 14.6991 9.3532 15.3069 8.55986L0.693041 8.55979ZM0.693041 8.55979L0.690964 8.55711M0.693041 8.55979L0.690964 8.55711M0.690964 8.55711C0.56719 8.39778 0.5 8.20177 0.5 8.00001C0.5 7.79825 0.56719 7.60223 0.690964 7.4429L0.690973 7.44291M0.690964 8.55711L0.690973 7.44291M0.690973 7.44291L0.693032 7.44022M0.690973 7.44291L0.693032 7.44022M0.693032 7.44022C1.30075 6.64689 2.32692 5.44312 3.61561 4.4419C4.90994 3.4363 6.41808 2.67446 7.99997 2.67446C9.58187 2.67446 11.09 3.4363 12.3843 4.4419C13.6729 5.44303 14.699 6.64666 15.3067 7.43999M0.693032 7.44022L15.3067 7.43999M15.3067 7.43999C15.5641 7.77681 15.5638 8.22423 15.3069 8.55979L15.3067 7.43999Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M9.99723 8C9.99723 9.10273 9.10329 9.99667 8.00057 9.99667C6.89784 9.99667 6.00391 9.10273 6.00391 8C6.00391 6.89728 6.89784 6.00334 8.00057 6.00334C9.10329 6.00334 9.99723 6.89728 9.99723 8Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.eye-icon.fill,
.eye-icon.hover {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.5 8C10.5 8.66304 10.2366 9.29893 9.76777 9.76777C9.29893 10.2366 8.66304 10.5 8 10.5C7.33696 10.5 6.70107 10.2366 6.23223 9.76777C5.76339 9.29893 5.5 8.66304 5.5 8C5.5 7.33696 5.76339 6.70107 6.23223 6.23223C6.70107 5.76339 7.33696 5.5 8 5.5C8.66304 5.5 9.29893 5.76339 9.76777 6.23223C10.2366 6.70107 10.5 7.33696 10.5 8V8Z' fill='white'/%3e%3cpath d='M0 8C0 8 3 2.5 8 2.5C13 2.5 16 8 16 8C16 8 13 13.5 8 13.5C3 13.5 0 8 0 8ZM8 11.5C8.92826 11.5 9.8185 11.1313 10.4749 10.4749C11.1313 9.8185 11.5 8.92826 11.5 8C11.5 7.07174 11.1313 6.1815 10.4749 5.52513C9.8185 4.86875 8.92826 4.5 8 4.5C7.07174 4.5 6.1815 4.86875 5.52513 5.52513C4.86875 6.1815 4.5 7.07174 4.5 8C4.5 8.92826 4.86875 9.8185 5.52513 10.4749C6.1815 11.1313 7.07174 11.5 8 11.5V11.5Z' fill='white'/%3e%3c/svg%3e ");
}
