.new-task {
	width: 100%;
	min-height: 60px;
	height: fit-content;
	padding: 12px;

	border-radius: 12px;
	border: none !important;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	color: white;
}

.new-task-input {
	resize: none;
	border-radius: 4px;
	color: white;
	font-family: "Bitter", serif;
	font-size: 18px;
	line-height: 140%;

	border: none;

	display: block;
	padding: 8px 16px;
	width: 100%;
	min-height: 68px;

	&:active,
	&:focus {
		border: none;
		outline: none;
	}
	&::placeholder {
		color: white;
		opacity: 0.7;
	}
}

.new-task-input.High {
	background: $dark-red;
}
.new-task-input.Medium {
	background: $dark-orange;
}

.new-task-input.Low {
	background: $dark-yellow;
}

.new-task.High {
	background-color: $red;
}

.new-task.Medium {
	background-color: $orange;
}

.new-task.Low {
	background-color: $yellow;
}

.High-button-container,
.Medium-button-container,
.Low-button-container {
	margin-top: 12px;
	width: 100%;
	display: flex;
	gap: 12px;
	border: none;
}

.High-primary-button,
.High-disabled-button,
.High-secondary-button,
.Medium-primary-button,
.Medium-disabled-button,
.Medium-secondary-button,
.Low-primary-button,
.Low-disabled-button,
.Low-secondary-button {
	width: 100%;
	padding: 8px;
	background-color: none !important;
	border-radius: 4px;
}

.High-primary-button,
.High-disabled-button,
.Medium-primary-button,
.Medium-disabled-button,
.Low-primary-button,
.Low-disabled-button {
	background-color: white;
}

.High-primary-button {
	color: $red;
}

.High-disabled-button {
	color: $red;
	opacity: $disabled-opacity;
	cursor: not-allowed;
}

.Medium-primary-button {
	color: $orange;
}

.Medium-disabled-button {
	color: $orange;
	opacity: $disabled-opacity;
	cursor: not-allowed;
}

.Low-primary-button {
	color: $yellow;
}

.Low-disabled-button {
	color: $yellow;
	opacity: $disabled-opacity;
	cursor: not-allowed;
}

.High-secondary-button {
	background-color: $red;
	color: white;
	outline: none;
	border: 1px solid white;
	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.Medium-secondary-button {
	background-color: $orange;
	color: white;
	outline: none;
	border: 1px solid white;
	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.Low-secondary-button {
	background-color: $yellow;
	color: white;
	outline: none;
	border: 1px solid white;
	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.show {
	display: block;
}

.hide {
	display: none;
}
