.task-wrapper {
	overflow: hidden;
	//height: 100px;
	position: relative;
	border-radius: 12px;
	margin: 0 16px 24px;
	&:first-child {
		margin-top: 24px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

/* .task-wrapper.done {
	background-color: $green;
} */

.task-bg.done {
	background-color: $green;
	padding: 16px;
}

.task-bg.delete {
	background-color: $dark-red;
}

/* .task-wrapper.delete {
	background-color: $dark-red;
} */

.task-bg {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	z-index: -5;
	width: 100%;
	height: 100%;
}

.bg-text {
	color: white;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.bg-icon {
	position: absolute;
	img {
		vertical-align: middle;
	}
}

.task-bg.delete {
	.bg-icon {
		right: 36px;
	}
}

.task-bg.done {
	.bg-icon {
		left: 36px;
	}
}

.task {
	width: 100%;
	min-height: 60px;
	//height: fit-content;
	padding: 12px;

	border-radius: 12px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	position: relative;

	color: white;
	&:hover {
		.align-left {
			p {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.hover-options {
			height: 75%;
			display: flex;
			align-items: center;
			padding: 0 12px 0 0;
			position: absolute;
			right: 0;
			top: auto;
			z-index: 5;
		}
	}
}

label {
	display: flex;
	align-items: center;
}

.task.High {
	border: none;
	background-color: $red;
	&:hover {
		background-color: $dark-red;
	}
}

.task.Medium {
	border: none;
	background-color: $orange;
	&:hover {
		background-color: $dark-orange;
	}
}

.task.Low {
	border: none;
	background-color: $yellow;
	&:hover {
		background-color: $dark-yellow;
	}
}

.task.Done {
	text-decoration: line-through;
	border: none;
	background-color: $green;
	.align-left {
		.drag-handle {
			display: none;
		}
		.to-do-checkbox {
			&:checked {
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.75 8.75L6.25 12.25L13.25 4.75' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
				background-color: rgba(255, 255, 255, 0.25);
				background-repeat: no-repeat;
				background-size: 16px 16px;
				background-position: center;
			}
			&:hover {
				background-image: none;
				background-color: rgba(255, 255, 255, 0);
				background-repeat: no-repeat;
				background-size: 0;
				background-position: center;
			}
		}
	}
	&:hover {
		background-color: $dark-green;
		.align-left {
			p {
				overflow: auto;
				text-overflow: none;
			}
		}
		.hover-options {
			display: none;
		}
	}
}

.overflow-gradient.High {
	border: none;
	width: 24px;
	height: 100%;
	background: $red-gradient;
}

.overflow-gradient.Medium {
	border: none;
	width: 24px;
	height: 100%;
	background: $orange-gradient;
}

.overflow-gradient.Low {
	border: none;
	width: 24px;
	height: 100%;
	background: $yellow-gradient;
}

.hover-options-inner {
	border: none;
	height: 100%;
	display: flex;
	align-items: center;
}

.hover-options-inner.High {
	background-color: $dark-red;
	border: none;
	height: 100%;
	display: flex;
	align-items: center;
}

.hover-options-inner.Medium {
	background-color: $dark-orange;
	border: none;
	height: 100%;
	display: flex;
	align-items: center;
}

.hover-options-inner.Low {
	background-color: $dark-yellow;
	border: none;
	height: 100%;
	display: flex;
	align-items: center;
}

.align-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 12px;
	p {
		width: 100%;
		height: fit-content;
		font-size: 18px;
		position: relative;
		top: 0;
		left: 0;
		z-index: 0;
	}
}

.drag-handle {
	margin-right: 12px;
	cursor: move;
	-webkit-user-drag: none;
}

.to-do-checkbox {
	min-width: 28px;
	width: 28px;
	height: 28px;
	border: 2px solid white;
	border-radius: 28px;
	appearance: none;
	margin-right: 12px;
	cursor: pointer;
	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.75 8.75L6.25 12.25L13.25 4.75' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		background-color: rgba(255, 255, 255, 0.25);
		background-repeat: no-repeat;
		background-size: 16px 16px;
		background-position: center;
	}
}

.hover-options {
	display: none;
}

.edit-icon,
.delete-icon,
.tick-icon {
	cursor: pointer;
	height: 28px;
	width: 28px;
	&:hover {
		background-color: rgba(255, 255, 255, 0.25);
		border-radius: 4px;
	}
}

.delete-icon {
	margin-left: 8px;
}
