$red: #eb6e6e;
$dark-red: #ce5959;
$red-gradient: linear-gradient(270deg, $dark-red 0%, rgba(206, 89, 89, 0) 100%);
$orange: #eb8c6e;
$dark-orange: #e37957;
$orange-gradient: linear-gradient(
	270deg,
	$dark-orange 0%,
	rgba(227, 121, 87, 0) 100%
);
$yellow: #f6aa51;
$dark-yellow: #e9993b;
$yellow-gradient: linear-gradient(
	270deg,
	$dark-yellow 0%,
	rgba(233, 153, 59, 0) 100%
);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1c323e;
	font-family: "Bitter", serif;
	max-width: 1280px;
	margin: auto;
}

h1 {
	font-family: "Bitter", serif;
	font-size: 52px;
	font-weight: bold;
	line-height: 62px;
	letter-spacing: 0.08em;
}

h4 {
	font-family: "Bitter", serif;
	font-size: 24px;
	font-style: italic;
	font-weight: 500;
	line-height: 34px;
}

.board-container {
	max-width: 100%;
	min-width: 1080px;
	max-height: 60vh;
	min-height: 300px;
	margin: 64px 0;
	overflow: hidden;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 32px;
}

@import "./task";
@import "./priority-board";
@import "./header";
