$light-red: #ffecec;
$red: #eb6e6e;
$dark-red: #ce5959;
$red-gradient: linear-gradient(270deg, $dark-red 0%, rgba(206, 89, 89, 0) 100%);

$light-orange: #ffe8e1;
$orange: #eb8c6e;
$dark-orange: #e37957;
$orange-gradient: linear-gradient(
	270deg,
	$dark-orange 0%,
	rgba(227, 121, 87, 0) 100%
);

$light-yellow: #fff4e7;
$yellow: #f6aa51;
$dark-yellow: #e9993b;
$yellow-gradient: linear-gradient(
	270deg,
	$dark-yellow 0%,
	rgba(233, 153, 59, 0) 100%
);

$light-green: #f6fffa;
$green: #6eeba0;
$dark-green: #59ce88;

$light-blue: #2a3e49;
$dark-blue: #1c323e;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $dark-blue;
	font-family: "Bitter", serif;
	max-width: 1280px;
	margin: auto;
}

h1 {
	font-family: "Bitter", serif;
	font-size: 52px;
	font-weight: bold;
	line-height: 62px;
	letter-spacing: 0.08em;
}

h4 {
	font-family: "Bitter", serif;
	font-size: 24px;
	font-style: italic;
	font-weight: 500;
	line-height: 34px;
}

button {
	cursor: pointer;

	background-color: $light-blue;
	border: 2px solid #6d818c;
	border-radius: 8px;

	font-family: "Bitter", serif;
	font-size: 18px;
	font-weight: medium;
	color: white;

	&:hover {
		background-color: #6d818c;
	}
}

.board-container {
	width: 100%;
	height: 500px;
	margin: 64px 0;
	overflow: visible;

	//background-color: $green;
	position: relative;
}

.priority-board-container {
	width: 100%;
	//background-color: hotpink;
	height: inherit;
}

.done-board-container {
	//background-color: purple;
	width: 405px;
	height: inherit;
	position: absolute;
	top: 0;
	right: 0;
}

.priority-board.Done {
	width: 405px;
	min-height: inherit;
	max-height: inherit;
	display: none;
}

.board-container.show-done {
	.priority-board-container {
		.priority-board.High {
			z-index: 10;
			top: -16px;
			left: 421px;
		}
		.priority-board.Medium {
			z-index: 5;
			top: 0;
			left: 437px;
		}
		.priority-board.Low {
			z-index: 0;
			top: 16px;
			left: 453px;
		}
	}
	.priority-board.Done {
		display: block;
	}
}

/* .board-container {
	.priority-board-container {
		position: relative;
		transition: all 0.5s ease;

		.priority-board.High {
			transition: all 0.5s ease;
			position: relative;
			z-index: 10;
			top: 0;
			left: 0;
		}
		.priority-board.Medium {
			transition: all 0.5s ease;
			position: relative;
			z-index: 5;
			top: 0;
			left: 0;
		}
		.priority-board.Low {
			transition: all 0.5s ease;
			position: relative;
			z-index: 0;
			top: 0;
			left: 0;
		}
	}
	.priority-board.Done {
		display: none;
	}
} */

/* .board-container.show-done {
	.priority-board-container {
		position: relative;

		.priority-board.High {
			position: absolute;
			z-index: 10;
			top: -16px;
			left: -16px;
		}
		.priority-board.Medium {
			position: absolute;
			z-index: 5;
			top: 0;
			left: 0;
		}
		.priority-board.Low {
			position: absolute;
			z-index: 1;
			top: 16px;
			left: 16px;
		}
	}
	.priority-board.Done {
		display: block;
	}
} */

@import "./task";
@import "./priority-board";
@import "./header";
