$light-red: #ffecec;
$red: #eb6e6e;
$dark-red: #ce5959;
$red-gradient: linear-gradient(270deg, $dark-red 0%, rgba(206, 89, 89, 0) 100%);

$light-orange: #ffe8e1;
$orange: #eb8c6e;
$dark-orange: #e37957;
$orange-gradient: linear-gradient(
	270deg,
	$dark-orange 0%,
	rgba(227, 121, 87, 0) 100%
);

$light-yellow: #fff4e7;
$yellow: #f6aa51;
$dark-yellow: #e9993b;
$yellow-gradient: linear-gradient(
	270deg,
	$dark-yellow 0%,
	rgba(233, 153, 59, 0) 100%
);

$light-green: #f6fffa;
$green: #6eeba0;
$dark-green: #59ce88;

$light-blue: #2a3e49;
$dark-blue: #1c323e;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $dark-blue;
	font-family: "Bitter", serif;
	max-width: 1280px;
	margin: auto;
}

h1 {
	font-family: "Bitter", serif;
	font-size: 52px;
	font-weight: bold;
	line-height: 62px;
	letter-spacing: 0.08em;
}

h4 {
	font-family: "Bitter", serif;
	font-size: 24px;
	font-style: italic;
	font-weight: 500;
	line-height: 34px;
}

button {
	cursor: pointer;
	font-family: "Bitter", serif;
	font-size: 18px;
	font-weight: medium;
	border: none;
	outline: none;
	&:active,
	&:focus {
		border: none;
		outline: none;
	}
}

button.show-done-btn {
	cursor: pointer;

	background-color: $light-blue;
	border: 2px solid #6d818c;
	border-radius: 8px;

	color: white;

	&:hover {
		background-color: #6d818c;
	}
}

.board-container {
	margin-top: 64px;
	padding: 24px 0;
	width: 100%;
	overflow-y: hidden;
	display: flex;
	gap: 32px;
	position: relative;
}

.priority-board-container {
	display: flex;
	gap: 32px;
	transition: all 0.75s ease;
	width: 100%;
}

.done-board-container {
	width: 31.6%;
	height: 100%;
	position: absolute;
	z-index: 0;
	right: 0;
	opacity: 0;
	transform: translateX(100%);
	transition: all 0.75s ease;
}

.board-container.show-done,
.board-container.show-done.hover {
	.priority-board.High {
		transform: translate(34%, -3%);
	}
	.priority-board.Medium {
		transform: translate(-70%, 0);
	}
	.priority-board.Low {
		transform: translate(-174%, 3%);
	}
	.done-board-container {
		transform: translate(-40%, 0);
		opacity: 1;
	}
}

.board-container.hover {
	.priority-board.High {
		transform: translate(0%, -1.5%);
	}
	.priority-board.Medium {
		transform: translate(-15%, 0);
	}
	.priority-board.Low {
		transform: translate(-30%, 1.5%);
	}
	.done-board-container {
		transform: translate(80%, 0);
		opacity: 1;
	}
}

.grad-overlay {
	position: absolute;
	right: 0;
	z-index: 1;
	height: 100%;
	width: 70px;
	opacity: 0;
	background: linear-gradient(
		90deg,
		rgba(28, 50, 62, 0) 0%,
		rgba(28, 50, 62, 1) 100%
	);
	transition: opacity 0.75s ease;
}

.grad-overlay.show {
	opacity: 1;
}

@import "./task";
@import "./priority-board";
@import "./header";
@import "./new-task";
